server:
  port: 8888
spring:
  datasource:
    url: jdbc:mysql://ali.xhofe.top:3306/trade-plateform?serveTimezone=UTC&useUnicode=true&characterEncoding=utf-8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: trade-plateform
    password: KCTjeK8TBnDw2b2N
  profiles:
    active: default
mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath:mybatis/mapper/*.xml
  type-aliases-package: com.hh.pojo
#  config-location: classpath:mybatis/mybatis-config.xml