server:
  port: 7980
spring:
  datasource:
    url: jdbc:mysql://ali.xhofe.top:3306/trade-plateform?serveTimezone=UTC&useUnicode=true&characterEncoding=utf-8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: trade-plateform
    password: KCTjeK8TBnDw2b2N
  profiles:
    active: default
  mail:
    host: smtp.qq.com
    password: llhenytkalabbbhi
    username: 709124735@qq.com
    properties:
      mail.smtp.socketFactory.fallback: true
      mail.smtp.starttls.enable: trye
      mail.smtp.ssl.enable: true
mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath:mybatis/mapper/*.xml
  type-aliases-package: com.hh.pojo
#  config-location: classpath:mybatis/mybatis-config.xml