<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.mapper.LeaveMapper">

    <select id="getLeaveByGoodsId" parameterType="int">
        select *
        from `leave`
        where goods_id=#{goodsId};
    </select>

    <select id="getLeaveByUserId" parameterType="int">
        select *
        from `leave`
        where user_id=#{userId};
    </select>

    <insert id="addLeave" parameterType="leave">
        insert into `leave` (user_id, goods_id, leave_message, leave_time)
        values (#{userId},#{goodsId},#{leaveMessage},#{leaveTime});
    </insert>

        <update id="updateLeave" parameterType="leave">
            update leave
            <set>
                <if test="userId!=null">
                    userId = #{userId}
                </if>
                <if test="goodsId!=null">
                    goodsId = #{goodsId}
                </if>
                <if test="leaveMessage!=null">
                    leaveMessage = #{leaveMessage}
                </if>
            </set>
            where leave_id=#{leaveId};
        </update>

    <delete id="deleteLeave" parameterType="int">
        delete from `leave`
        where leave_id=#{leaveId};
    </delete>

</mapper>

